
  <div class="contenedor_padre" (mousemove)="updateLightPosition($event)" style="background-color: #555555">

    <!-- Div para el efecto de luz que sigue al cursor -->
    <div class="light-effect" id="light"></div>

    <div class="container_info">

      <h1 class="title_name">Bruno Canchanya</h1>

      <div class="description_container">

        <div class="description">
          Hola, soy Bruno y soy un desarrollador <a target="_blank" href="https://www.youtube.com">front-end</a> y
          <a target="_blank" href="https://www.youtube.com">back-end</a> el cual ha participado en diversos proyectos
          de <a target="_blank" href="https://www.youtube.com">angular</a> y he creado algunos videojuegos
          <a target="_blank" href="https://www.youtube.com">2D</a> y <a target="_blank"
            href="https://www.youtube.com">3D</a>
          utilizando unity.
        </div>

      </div>

      <button class="button">Ver más detalle</button>

    </div>

  </div>

